h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0A314E;
}
.container{
  width: 100%;
  padding: 10px
}
.slider{
margin: 0 auto;
}
.sliderImage {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: green;
  color: #fff;
  width: 100%;
}
.main-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
p.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: #0A314E;
}
.wrapper{
  padding-bottom:10px ;
  background-color: #faf4f4d7;
  width: 100%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin: 0 auto;
border-radius: 15px;
padding: 15px;
}
@media (min-width: 1000px) {
  .wrapper{
    width: 100%;
    max-width: 80vh;
  }
}